<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memo">
	<!-- 1. 갯수 구하기 -->
	<select id="selectCount" resultType="java.lang.Integer">
		<![CDATA[
			select count(*) from memo
		]]>
	</select>
	<!-- 2. 한개 구하기 -->
	<select id="selectByIdx" parameterType="java.lang.Integer" resultType="MemoVO">
		<![CDATA[
			select *
			from memo
			where idx=#{idx}
		]]>
	</select>
	<!-- 3. 한 페이지 구하기 -->
	<select id="selectList" parameterType="HashMap" resultType="MemoVO">
		<![CDATA[
			select R.*
			from
				(select
					rownum rnum, Q.*
				from
					(select * from memo order by idx desc) Q
				where
					rownum<=#{endNo}) R
			where
				rnum>=#{startNo}
		]]>		
	</select>
	<!-- 4. 저장 -->
	<insert id="insert" parameterType="MemoVO">
		<![CDATA[
			insert into memo
				(idx,name,password,memo,reg_date,ip)
			values
				(memo_idx_seq.nextval,#{name},#{password},#{memo},SYSDATE,#{ip})
		]]>		
	</insert>
	<!-- 5. 수정 -->
	<update id="update" parameterType="MemoVO">
		<![CDATA[
			update
				memo		
			set
				memo=#{memo},reg_date=SYSDATE,ip=#{ip}
			where idx=#{idx}
		]]>		
	</update>
	<!-- 6. 삭제 -->
	<delete id="delete" parameterType="java.lang.Integer">
		<![CDATA[
			delete
			from
				memo
			where
				idx=#{idx}
		]]>		
	</delete>
</mapper>